.App {
  text-align: center;
  border: solid 1px black;
}

  

nav a{
  color: black;
  display: inline-block;
  margin: 0px 15px;
  text-decoration: none;  
  font-size: 1.8rem;

}

nav a:hover{
  color:brown;
  
}

